@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.hLeft h2 {
	font-family: "Didact Gothic", sans-serif;
}
.thirdCard {
	opacity: 0.8;
	transition: all 0.3s;
}
.thirdCard:hover {
	opacity: 1;
	transform: scale(1.1) rotate(-6deg);
}
.scrollBox {
	scrollbar-color: #8a76fc #cdc5fd;
}
.tenthCard {
	transition: all ease-in 0.2s;
}
.tenthCard button {
	transition: all ease-in 0.4s;
}
.tenthCard:hover {
	height: 17vw;
}
.tenthCard:hover button {
	opacity: 1;
}
/* .path {
} */
.pPhoto {
	-webkit-animation: circle 5s linear infinite;
	animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
	0% {
		transform: rotate(0deg) translate(-40vh) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-40vh) rotate(-360deg);
	}
}
@keyframes circle {
	0% {
		transform: rotate(0deg) translate(-40vh) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-40vh) rotate(-360deg);
	}
}
